
<div *ngIf="isLogged; else noLogged">
    <div class="navbar-fixed">
        <nav style="background:darkslateblue">
          <div class="nav-wrapper">
            <a routerLink="/" class="brand-logo">Used-Cars</a>
            <ul class="right hide-on-med-and-down">
              <li><a (click)="logUmOut($event)">Logout</a></li>
              <li><a routerLink="/dashboard">Dashboard</a></li>
            </ul>
          </div>
        </nav>
      </div>

    </div>

      <ng-template #noLogged>

          <div class="navbar-fixed" >
              <nav style="background:darkslateblue">
                <div class="nav-wrapper">
                  <a href="" class="brand-logo">Used-Cars</a>
                  <ul class="right hide-on-med-and-down">
                    <li ><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/register">Register</a></li>
                  </ul>
                </div>
              </nav>
            </div>

      </ng-template>



