<div id="form-edit-div">
<form [formGroup]="form" (change)="handleEdit($event)" (ngSubmit)="editSubmit($event)" >
    <!--<input type="hidden" name="edithval"  id="edithval" formControlName="edithval">-->
    <!-- Upload Pic: <input (change)="handleFile($event)" type='file' id='file' name='file' formControlName="file"><br/>-->
     <!--Make of the Car: <input type='text' id='make' name='make' formControlName="make"><br/>-->
     Asking Price: <input type='text'  id='editprice' name='editprice' formControlName="editprice"><br/>
     Milege on the Car: <input type='text'  id='editmileage' name='editmileage' formControlName="editmileage"><br/>
     <!--Body Type of the Car: <input type='text' id='bodytype' name='bodytype' formControlName="bodytype"><br/>-->
     <!--Color of the Car: <input type='text' id='color' name='color' formControlName="color"><br/>-->
     <!--Engine on the Car: <input type='text' id='engine' name='engine' formControlName="engine"><br/>-->
     Description: <input type='text'   id='editdescription' name='editdescription' formControlName="editdescription"><br/>
     <!--Model of the Car: <input type='text' id='model' name='model' formControlName="model"><br/>-->
     
    
    
    
    
    <br/>


  <input type="submit">
  
  </form>
  </div>