<div class="row">
<form class="col s6" [formGroup]="form" (change)="handleEdit($event)" (ngSubmit)="editSubmit($event)" >
   
        <div class="input-field col s6" >
            <input style="width:300px;" type='text'  class="validate" id='editprice' name='editprice' formControlName="editprice"><br/>
          <label for="editprice">Edit Price</label>
        </div>
        <div class="input-field col s6" >
            <input type='text' style="width:300px;"  class="validate" id='editmileage' name='editmileage' formControlName="editmileage"><br/>
            <label for="editmileage">Edit Mileage</label>
        </div>

        <div class="input-field col s6" >
            <input type='text' style="width:300px;" class="validate" id='editdescription' name='editdescription' formControlName="editdescription"><br/>
            <label for="editdescription">Edit Description</label>

        </div>
      
  
    <br/>


    <input type="submit">
    
    </form>
    </div>
  
  


  