
<div id="log-div">
    <h3>Login</h3>
<div class="row">
    
  <form [formGroup]="form" (ngSubmit)="handleSubmit(e)" class="col s6 ">
      
    

    <div class="row">
      <div class="input-field col s6">
        <input id="email" type="email" class="validate ini" formControlName="email">
        <label for="email">Email</label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field  col s6">
        <input id="password" type="password" class="validate ini" formControlName="password">
        <label for="password">Password</label>
      </div>
    </div>
    
    <br/>
    <input type="submit" id="sub-btn" class="waves-effect waves-light btn-small" value="Login">
  
  </form>

</div>
</div>
  