<div id="dash-main-div">
  <div id="dash-form-div">
  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
     Upload Pic: <input (change)="handleFile($event)" type='file' id='file' name='file' formControlName="file"><br/>
     Make of the Car: <input type='text' id='make' name='make' formControlName="make"><br/>
     Asking Price: <input type='text' id='price' name='price' formControlName="price"><br/>
     Milege on the Car: <input type='text' id='milege' name='mileage' formControlName="mileage"><br/>
     Body Type of the Car: <input type='text' id='bodytype' name='bodytype' formControlName="bodytype"><br/>
     Color of the Car: <input type='text' id='color' name='color' formControlName="color"><br/>
     Engine on the Car: <input type='text' id='engine' name='engine' formControlName="engine"><br/>
     Description: <input type='text' id='description' name='description' formControlName="description"><br/>
     <!--Model of the Car: <input type='text' id='model' name='model' formControlName="model"><br/>-->
     
    
    
    
    
    <br/>


  <input type="submit">
  
  </form>
  </div>
  </div>

  <div id="img-holder" style="height:300px; width:300px;">


  </div>
  