<div *ngFor="let obj of allUsers">
    <mat-card>
        <img mat-card-md-image src="{{obj.pic}}">
       <br />
        <mat-card-title><span>Make : {{obj.name}}</span></mat-card-title>
        <br />
        <mat-card-subtitle><span>Price : {{obj.price}}</span></mat-card-subtitle>
        <br />
        <mat-card-content> <span>{{obj.description}}</span></mat-card-content>
        <br />
        <mat-card-actions>
            
            <button mat-raised-button color="primary" (click)="handleDelete($event)" name={{obj._id}} id={{obj._id}}>Delete</button>
            <button mat-raised-button color="primary" (click)="handleEdit($event)" name={{obj._id}} id={{obj._id}}>Edit</button>
            
          </mat-card-actions>
        
      
      </mat-card>

</div>

<button (click)="getAllCars()">Press</button>

