<div *ngFor="let obj of allUsers">
    
        <div class="row">
                <div class="col s4 m4" style="background: #cbd9ef; margin-left: 25px;">
                  <div class="card img-holder">
                    <div class="card-image" style="width: 400px;">
                      <img src="http://localhost:3005/uploads/{{obj.pic}}" style="height: 150px; width:300px;"alt="there is no data" class="cars-img">
                      <br/>
                      <br/>
                      <br/>
                      
                      
                      <span class="card-title" style="color:black">{{obj.name}}</span>
                    </div>
                    <br/>
                    <span class="card-title" style="margin-left:15px;">{{obj.price}}</span>
                    <br/>
                    <span style="margin-left:15px;">{{obj.multi[0]}}</span>
                    <br/>
                    <span style="margin-left:15px;">{{obj.multi[1]}}</span>
                    <br/>
                    <span style="margin-left:15px;">{{obj.multi[2]}}</span>
                    <br/>
                    <span style="margin-left:15px;">{{obj.multi[3]}}</span>
                    <div class="card-content">
                      <p>{{obj.description}}</p>
                    </div>
                    <div class="card-action">
                            <button (click)="handleEdit($event)" name={{obj._id}} id={{obj._id}} class="btn btn-info" style="float:right;">Edit</button>
                            <button (click)="handleDelete($event)" name={{obj._id}} id={{obj._id}} class="btn btn-info" style="float:left;">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
                        



    <!--this is the end of the ngfor div-->
        
            
            <!---->
           
            
</div>

<button class="btn btn-info" (click)="getAllCars()" id="show-cars">Your Cars</button>

